Django==5.2.13
python-dotenv
django-jazzmin
daphne
django-allauth
django-recaptcha
django-simple-captcha
channels
whitenoise
Pillow
reportlab
mysqlclient
gunicorn
requests
django-channels
google-generativeai
razorpay
PyJWT
qrcode[pil]
openpyxl
