{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'teams/css/create_team.css' %}">
<div style="width:400px;margin:50px auto;background:white;padding:20px;border-radius:10px;">

<h2>Create Batch</h2>

<form method="POST">
    {% csrf_token %}

    {{ form.name }}
    {{ form.trainer }}
    {{ form.students }}

    <button type="submit">Create</button>
</form>

</div>

<script src="{% static 'teams/js/create_team.js' %}"></script>

{% endblock %}
