{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password | LMS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}?v=1.2">
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<div class="shape shape1"></div>
<div class="shape shape2"></div>

<div class="auth-container">
    <div class="auth-left">
        <h3>Set New Password</h3>
        <p>Create a new strong password to secure your account.</p>
        <img src="https://cdn-icons-png.flaticon.com/512/605/605818.png" alt="Illustration" class="auth-illustration">
    </div>

    <div class="auth-right">
        <h2>Reset Password</h2>
        <p class="card-subtitle">Set your new account password below</p>

        <div class="login-panel">
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>

                    {% if "password" in field.id_for_label %}
                    <div class="field-container">
                        <i class="fas fa-lock prefix-icon"></i>
                        {{ field }}
                        <i class="fas fa-eye toggle-password"></i>
                    </div>
                    {% else %}
                    <div class="field-container">
                        {{ field }}
                    </div>
                    {% endif %}

                    {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="login-btn">
                    Reset Password <i class="fas fa-arrow-right"></i>
                </button>
            </form>

            <a href="{% url 'login' %}" class="footer-link">
                Back to <span class="highlight">Sign in</span>
            </a>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", () => {
    const toggleBtns = document.querySelectorAll(".toggle-password");
    toggleBtns.forEach(function(toggleBtn) {
        toggleBtn.addEventListener("click", function () {
            const input = this.parentElement.querySelector("input");
            const type = input.type === "password" ? "text" : "password";
            input.type = type;
            this.classList.toggle("fa-eye");
            this.classList.toggle("fa-eye-slash");
        });
    });
});
</script>
{% endblock %}
